<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="login" value="SomeUser" />
    <add key="password" value="MyLittlePony45" />
    <add key="MetaFile" value="D:\Mastery\lab_02\MetaFile.txt" />
    <add key="Storage" value="D:\Mastery\lab_02\FileStorage"/>
    <add key="Authorization" value="false"/>
  </appSettings>
</configuration>